@model Domain.Products

@*<li class="product-wrapper">
    <h3>@Model.ProductName</h3>
    @Model.QuantityPerUnit
    <h4>@Model.UnitPrice.Value.ToString("C")</h4>
</li>*@
<div class="product-wrapper">
    <div class="product-photo">
        <img src="@Url.Action("GetImage", "Product", new {Model.ProductID})" height="100" width="100"/>
    </div>
    <h3>@Model.ProductName</h3>
    @Model.QuantityPerUnit
    <h4>@Model.UnitPrice.Value.ToString("C")</h4>
    @using (Ajax.BeginForm("AddToCart", "Cart", new AjaxOptions {UpdateTargetId = "cartState"}))
    {
        @Html.HiddenFor(x => x.ProductID)
        <input type="submit" value="+Add to cart" onclick="ShowCart()"/>
    }
</div>
